.root {
    -fx-background-color: rgba(227, 227, 245, 0.6);
}

.label {
    -fx-padding: 3, 2, 2, 3;
}

#mikeyFaceButton {
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: #4CAF50; /* Green */
    -fx-text-fill: blue;
}

#mikeyFaceButton:pressed {
    -fx-border-color: #0000FF;
    -fx-text-fill: yellow;
}

#mikeyFaceButton:hover {
    -fx-background-color: rgba(205, 243, 195, 0.6);
}

.button {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-text-fill: #484848;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}

.button:pressed {
    -fx-background-color: #d0d0d0;
}

.navigation-button-container-1 { /* style for VBox button container on storefront view */
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-background-color: lightgrey;
    -fx-pref-width: 140; /* adjust to suit buttons */
    -fx-alignment: "CENTER";
}

.navigation-button-container-1 .button { /* style for VBox button container buttons on storefront view */
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-background-color: skyblue;
    -fx-pref-width: 130; /* adjust button width to make uniform */
    -fx-alignment: "CENTER";
}

.navigation-button-container-1:hover {
    -fx-background-color: rgba(206, 175, 175, 0.5);
    -fx-border-color: blue;
}

.navigation-button-container-1 .storefront-button:hover {
    -fx-background-color: rgba(206, 175, 175, 0.5);
    -fx-border-color: rgb(173, 15, 15);

}

.menu-bar {
    -fx-background-color: rgba(206, 175, 175, 0.25);
    -fx-border-color: rgba(6, 70, 238, 0.6);
    -fx-border-radius: 3;
}

.menu-item {
    -fx-background-color: rgb(206, 175, 175, 0.45);
    -fx-border-color: rgba(6, 70, 238, 0.6);
    -fx-border-radius: 3;
}

.menu-item:hover {
    -fx-background-color: skyblue;
}

.menu {
    -fx-background-color: rgba(206, 175, 175, 0.70);
}


.addCaseBtnVBox { /* style for VBox button container on storefront view */
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-background-color: lightgrey;
    -fx-pref-width: 140; /* adjust to suit buttons */
    -fx-background-color: rgba(194, 207, 241, 0.4);
    -fx-alignment: CENTER;
}

.addCaseBtnVBox .button { /* style for VBox button container buttons on storefront view */
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-background-color: skyblue;
    -fx-pref-width: 130; /* adjust button width to make uniform */
    -fx-alignment: "CENTER";
}

.addCaseBtnVBox:hover {
    -fx-background-color: rgba(206, 175, 175, 0.5);
    -fx-border-color: blue;
}

.addCaseBtnVBox .button:hover {
    -fx-background-color: rgba(206, 175, 175, 0.5);
    -fx-border-color: rgb(173, 15, 15);
}

.addTrayBtnVBox {
    -fx-border-style: dotted;
    -fx-border-radius: 3;
    -fx-border-color: green;
    -fx-border-width: 3;
}

.tree-cell:selected {
    -fx-background-color: rgba(2, 100, 138, 0.7);
    -fx-text-fill: white;
}

VBox {
    -fx-background-color: rgba(194, 194, 241, 0.4);
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

HBox {
    -fx-background-color: rgba(194, 194, 241, 0.75);
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

